.Category{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.Category-Filters{
    width: 20%;
    background-color: blueviolet;

}

.Category-Products{
    width: 80%;
}