.CollectionsBanner {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    padding:  10px 65px;
    align-items: center;
}

.CollectionsBanner img {
    width: 200px;
    height: auto;
}

.CollectionsBanner .FirstBanner {
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid gray ;
    border-radius: 15px;
}

.CollectionsBanner .FirstBanner img {
    margin-left: auto; 
    margin-top:auto ;
    height: calc(100% - 35px);
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 10px;
}

.CollectionsBanner .FirstBanner h2{
    position: absolute;
    top: 50px;
    left:60px;
    font-size: 0.7em;
    font-weight: 600;
}

.CollectionsBanner .FirstBanner h1{
    position: absolute;
    top: 80px;
    left:80px;
    font-size: 2.5em;
    font-weight: 300;
    z-index: 1;
}

.CollectionsBanner .FirstBanner button{
    position: absolute;
    top: 150px;
    left:60px;
    font-size: 1em;
    font-weight: 200;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-right: 10px;
}

/* .RightArrow{
    position: absolute;
    right: 20px;
    top: 18px;
} */

.CollectionsBanner .FirstBanner .OfferDetails{
    position: absolute;
    bottom: 10px;
    right: 60px;
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    gap: 10px;
}

.CollectionsBanner .FirstBanner .OfferDetails h4{
    font-weight: 200;
}

.CollectionsBanner .FirstBanner .OfferDetails a{
    text-decoration:underline;
}

/* Sub banner styles */

.CollectionsBanner .SubBanner {
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.CollectionsBanner .SubBanner img {
    width: 90%;
    height: 90%;
}

/* Next button styles */

.CollectionsBanner .NextButton {
    width: auto;
    height: auto;
    font-size: 4em; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.CollectionsBanner .NextButton:hover {
    transform: scale(0.9)
}

.CollectionsBanner .NextButton:active {
    transform: scale(1.1);
}

/* Responsive styles */

@media (max-width: 767px) {
  .CollectionsBanner {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .CollectionsBanner .FirstBanner {
    width: auto;
    margin-bottom: 20px;
  }

  .CollectionsBanner .FirstBanner img {
    height: auto;
    width: 100%;
    position: relative;
  }

  .CollectionsBanner .FirstBanner h2,
  .CollectionsBanner .FirstBanner h1,
  .CollectionsBanner .FirstBanner button {
    position: static;
    text-align: center;
    margin: 0;
  }

  .CollectionsBanner .FirstBanner .OfferDetails {
    position: static;
    text-align: center;
  }

  .RightArrow {
    position: static;
    display: block;
    margin: auto;
  }

  .CollectionsBanner .SubBanner {
    width: 100%;
  }
}
