.NavBar {
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2.5px solid grey;
    background-color: white; /* Optional: Set background color */
    z-index: 1000;
}

.Logo {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-left: 80px;
    color: #341466;
}

.Functions {
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    gap: 250px;
}

.NavIcons {
    position: absolute;
    right: 80px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    text-align: center;
}



.CiSearch {
    position: absolute;
    margin-left: 5px;
}

.NavIcons input {
    height: 30px;
    width: 180px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    border-radius: 5px;
}

.NavIcons button {
    width: 50px;
    background-color: #341466;
    height: auto;
    border-radius: 3px;
    color: white;
    padding: 5px 5px;
    font-size: 0.9em;
}

.NavIcons a{
    font-size: 1.5em;
}