@tailwind base;
@tailwind components;
@tailwind utilities;

.cardWH{
    width: 25%;
    height: 455px;
}
.react-multiple-carousel__arrow {
    color: red;
    /* Change arrow color as per your requirement */
}